{% extends "base.html" %}

{% block content %}
<h1 align="center"> Blog Users </h1>
{% if users|length == 0 %}
    <p>No users yet</p>
    {% else %}

        <ul style="list-style-type: none;">
            {% for user in users %}
                
                <li>
                    <a href='/blog?user={{user.username}}'>{{ user.username }} </a>
                </li>                          
                
            
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}