{% extends "post_newblog.html" %}
{% block content %}
<h1 align="center"> Blog posts</h1>
{% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul style="list-style-type: none;">
            {% for blog in blogs %}
                                                          
                <li><h3><a href="/blog?id={{blog.id}}">{{blog.blog_title}}</a></h3>
                {{blog.blog_post}}
                <h5>written by <a href='/blog?user={{blog.owner.username}}'>{{blog.owner.username}}</a></h5>
                </li>
            <hr/>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}